<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://kenwheeler.github.io/slick/slick/slick.js"></script>
<link href="http://kenwheeler.github.io/slick/slick/slick.css" rel="stylesheet"/>
<link href="http://kenwheeler.github.io/slick/slick/slick-theme.css" rel="stylesheet"/>

<div class="row" id="card">
  <div class="row">
    <div class="large-12 columns">
      <div class="slick-slider">
        <div><img src="/assets/single.jpg"></div>
        <div><img src="/assets/group.jpg"></div>
      </div>
    </div>
  </div>
  <div class="row">
	<div class="large-6 columns">
		<ul class="pricing-table">
		  <li class="title">Standard</li>
		  <li class="price red">Free</li>
		  <li class="description">An awesome description</li>
		  <li class="bullet-item">Connect with likeminded</li>
		  <li class="bullet-item">Join up to 4 user groups</li>
		  <li class="bullet-item">searching routes</li>
		  <li class="bullet-item">custom profile</li>
		  <li class="cta-button"><%= link_to "Register Now", {controller: "users", action: "new", mode: "free"}, class: "button" %></li>
		</ul>
	</div>
	<div class="large-6 columns">
		<ul class="pricing-table">
		  <li class="title">Premium</li>
		  <li class="price">only 3$ / month</li>
		  <li class="description">An awesome description</li>
		  <li class="bullet-item">Join unlimited groups</li>
		  <li class="bullet-item">Profile feature</li>
		  <li class="bullet-item">extended search</li>
		   <li class="bullet-item">no ads</li>
		  <li class="cta-button"><%= link_to "Register Now", {controller: "users", action: "new", mode: "premium"}, class: "button" %></li>
		</ul>
	</div></div>
</div>

<script type="text/javascript">
    $('.slick-slider').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        arrows: false
    });
</script>